* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #787777;
}

.conteudo .destaque .lojaf .loja{
    width: 50%;
    height: 50%;
}

header h1{
    font-size: 45px;
    font-style: italic;
    color: rgb(14, 0, 102);
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 3px solid rgb(14, 0, 102);
    margin-bottom: 30px;
    background-color: #9e9e9e;
}

.submenu {
    display: none;
    border: 1px solid rgb(14, 0, 102);
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}


.menu > li{
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear{
    clear: both;
}

.menu li:hover .submenu{
    display: block;
}

.menu li:hover{
    border-color: rgb(14, 0, 102);
}

.submenu li{
    display: block;
    padding: 8px;
}


.conteudo .destaque .lojaf{
    display: flex;
}

.container .loja{
    height: 100px;
    display: flex;
}

.produto img {
    max-width: 100%;
}

.destaque{
    margin-bottom: 56px;
    align-items: center;
    display: flex;
}

.destaque .produto a{
    display: flex;
    font-size: 16px;
    margin-left: 20px;
}

.destaque .produto a h3{
    display: flex;
    font-size: 24px;
    margin-left: 20px;
    font-weight: normal;
}


.products .produto a h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.products .produto .nintendo{
    margin-top: 10px;
}

.destaque .produto img {
    margin-right: 32px;
    height: 300px;
}

section h2 {
    margin-bottom: 32px;
    padding: 10px;
    border-bottom: 2px solid rgb(14, 0, 102);
    font-size: 36px;
    font-style: italic;
    color: rgb(14, 0, 102);
    margin-left: 30px;
}


.products {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 2%;
    row-gap: 5%;
    align-items: center;
}

.container input{
    font-size: 16px;
    padding: 5px 0;
}

.container button{
    padding: 6px 0;
    border: none;
    background-color: rgb(14, 0, 102);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 0px;
    margin-top: 10px;
}

.produto button {
    display: block;
    width: 90%;
    padding: 8px 0;
    border: none;
    background-color: rgb(14, 0, 102);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.products .produto{
    align-items: center;
}

.botao-menu button{
    width: 90%;
    padding: 8px 0;
    border: none;
    background-color: rgb(14, 0, 102);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
}


@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .conteudo .destaque .lojaf{
        display: block;
    }


    .conteudo .destaque .lojaf .loja{
        width: 100%;
        height: 100%;
    }

    .conteudo .destaque .lojaf .produto a h3{
        font-size: 15px;
        font-style: bold;
    }

    .container{
        max-width: 90%;
        display: block;
    }
    
    .destaque .produto a{
        display: block;
        font-size: 4px;
        width: 100%;
        height: 100%;
    }

    .destaque .produto img{
        width: 100%;
        height: 100%;
    }
    
    .destaque .produto {
        margin-right: 30px;
        margin-left: 0;    
}

    .products {
        display: block;

    }

    .products .produto{
        margin-bottom: 32px;
        margin-left: 10px;
        align-items: center;
    }


    header div.container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }

    .menu{
        display: none;
    }

    .menu > li {
        clear: both;
    }
    
    .submenu li{
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }
}


@media screen and (min-width: 768px) and (max-width:1023px) {
    .container{
        max-width: 98%;
    }

    .conteudo {
        display: block;
    }

    .conteudo .destaque .lojaf .loja{
        width: 100%;
        height: 100%;
    }

    .conteudo .destaque .lojaf{
        display: block;
    }

    .botao-menu {
        display: none;
    }

    .products .produto{
        margin-left: 20px;
    }

    .destaque .produto a {
        font-size: 1.5em;
    }

    .products {
        grid-template-columns: repeat(2, 49%);
    }

    .products .produto{
        margin-bottom: 32px;
        margin-left: 35px;
        align-items: center;
    }

    .conteudo .destaque .lojaf .produto a h3{
        font-size: 17px;
        font-style: bold;
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }


}